@import "tailwindcss";

@layer base {
  .theme-pink {
    --color-blue-50: var(--color-pink-50);
    --color-blue-100: var(--color-pink-100);
    --color-blue-200: var(--color-pink-200);
    --color-blue-300: var(--color-pink-300);
    --color-blue-400: var(--color-pink-400);
    --color-blue-500: var(--color-pink-500);
    --color-blue-600: var(--color-pink-600);
    --color-blue-700: var(--color-pink-700);
    --color-blue-800: var(--color-pink-800);
    --color-blue-900: var(--color-pink-900);
    --color-blue-950: var(--color-pink-950);
  }

  .theme-orange {
    --color-blue-50: var(--color-orange-50);
    --color-blue-100: var(--color-orange-100);
    --color-blue-200: var(--color-orange-200);
    --color-blue-300: var(--color-orange-300);
    --color-blue-400: var(--color-orange-400);
    --color-blue-500: var(--color-orange-500);
    --color-blue-600: var(--color-orange-600);
    --color-blue-700: var(--color-orange-700);
    --color-blue-800: var(--color-orange-800);
    --color-blue-900: var(--color-orange-900);
    --color-blue-950: var(--color-orange-950);
  }
}
