{% extends "base.html" %}
{% block title %}New capex requisition{% endblock %}
{% block content %}
<h4>New capex requisition</h4>
<form method="post" class="row g-3">
  {% csrf_token %}
  {% for field in form %}
  <div class="col-md-6">
    <label class="form-label small">{{ field.label }}</label>
    {{ field }}
    {% if field.help_text %}<div class="form-text">{{ field.help_text }}</div>{% endif %}
  </div>
  {% endfor %}
  <div class="col-12"><button class="btn btn-primary">Submit for approval</button></div>
</form>
{% endblock %}
